<a class="nav" routerLink='/login'>Ingresar</a>
<a class='nav1' routerLink='/registro'>Registro</a>

<body>

    <div class="container-fluit">
        <a class="col 12 user-img" routerLink='/inicio'>
            <img height="100px" width="100px" src="../../../assets/images/logo.jpg" alt="">
        </a>
        <!-- contenedor -->
        <div class="a">
            <p id="jas">Documentales, series y</p><br>
            <p> contenido de calidad para niños.</p>
        </div>
        
        <div class="b">

            <img id="jas" height="600px" width="700px" src="../../../assets/images/image.png">
        </div> <!-- cada uno de los ítems del grid -->

         
            <a class="user-im" routerLink='/login'> VER MAS ></a>
        
        
    
    </div>
</body>