main {
  justify-content: normal;
}

.banner {
  width: 460px;
  margin-left: 100px;
  z-index: 5;
}

.banner h1 {
  font-family: 'Montserrat', serif;
  color: #575151;
  margin-bottom: 12px;
}

.bg-banner {
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  width: 600px;
}

@media screen and (max-width: 1100px) {
  .bg-banner {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .bg-banner {
    opacity: .5;
  }
}

@media screen  and (max-width: 600px) {
  .banner {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }
}
