
<div class="container-fluit">
    <div class="grid">
        <!-- contenedor -->

        <div class="b">
            <p id="jas">Documentales, series y contenido de calidad para niños.</p><img id="jas" height="600px"
                width="650px" src="../../../assets/images/image.png"><img height="500px" width="600px"
                src="../../../assets/images/Vector1.png">
        </div> <!-- cada uno de los ítems del grid -->

        <div class="c"> <img height="220px" width="250px" src="../../../assets/images/Vector2.png"></div>
        <!-- cada uno de los ítems del grid -->

    </div>
</div>