 <div class="container">
 <form #updateUserForm="ngForm" (ngSubmit)="updateUser();">
  <h2>actializar usuario</h2>
 <label for="firstName"> Nombres </label>
 <input type="text" id="firstName" name="firstName" placeholder="Ingresa tu nombre" #firstName="ngModel" [(ngModel)]="user.firstName" /> <br />

 <label for="lastName"> Apellidos </label>
 <input type="text" id="lastName" name="lastName" placeholder="Ingresa tu apellido" #lastName="ngModel" [(ngModel)]="user.lastName" /> <br />

 <label for="email"> Correo </label>
 <input type="text" id="email" name="email" placeholder="Ingresa tu correo" #email="ngModel" [(ngModel)]="user.email" /> <br />
 <button> actualizar </button>
 
 </form>

</div>