


<header>
    
          <img src="../../../assets/images/logo.jpg" alt="">
       
        <nav>
            <a href="#" class="activo">Inicio</a>
            <a href="#">peliculas</a>
            <a href="#">documentales</a>
            <a href="#">series</a>
            
        </nav>
        <div class="usuario">
         
        <select name="Usuario">
            <option value="usuario">Usuario</option>
            <option>Asociados</option>
            <option>cerrar sesion</option>
        
        </select>
           
        </div>
    
</header>
  <br>
  
         
       
      
   




