
<header>
    <div class="contenedor">
        <div class="logotipo">
          <img src="../../../assets/images/logo.jpg" alt="">
        </div> 
        <nav>
            <a href="#" class="activo">Inicio</a>
            <a href="#">peliculas</a>
            <a href="#">documentales</a>
            <a href="#">series</a>
            
        </nav>
        <button type="button" class="favorito"><a href="#">Favoritos</a></button>
        
        <select name="Usuario">
            <option value="usuario">usuario</option>
            <option>Asociados </option>
            <option>cerrar sesion</option>
        
        </select>
    </div>
</header>
<app-home-pelicula></app-home-pelicula>