.registro {
  position: absolute;
  width: 475px;
  height: 470px;
  left: 480px;
  top: 90px;
  background: #fefefe;
  box-shadow: -4px 17px 22px rgba(210, 210, 210, 0.29);
}

.TituloRegistro {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 61px;
  text-align: center;
  color: #979797;
}

h3.name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #737373;
  border: 1px solid #ffffff;
  margin-left: 40px;
}

input.name {
  position: absolute;
  width: 365px;
  height: 35px;
  background: #f2f2f2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 40px;
}

h3.email {
  position: absolute;
  top: 135px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #737373;
  border: 1px solid #ffffff;
  margin-left: 40px;
}

input.email {
  position: absolute;
  width: 365px;
  height: 35px;
  top: 170px;
  background: #f2f2f2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 40px;
}

h3.password {
  position: absolute;
  top: 209px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #737373;
  border: 1px solid #ffffff;
  margin-left: 40px;
}

input.password {
  position: absolute;
  width: 365px;
  height: 35px;
  top: 245px;
  background: #f2f2f2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 40px;
}

h3.fecha {
  position: absolute;
  top: 285px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #737373;
  border: 1px solid #ffffff;
  margin-left: 40px;
}

input.fechaNacimiento {
  position: absolute;
  width: 365px;
  height: 35px;
  top: 322px;
  background: #f2f2f2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 40px;
}
.boton {
  position: absolute;
  width: 171px;
  height: 40px;
  top: 390px;
  color: #f2f2f2;
  background: #53bbdc;
  margin-left: 40px;
}
.circulo {
  position: absolute;
  left: 198px;
  top: -55px;
}

.ingresarBoton {
  position: absolute;
  left: 300px;
  top: 400px;
}

.Vector3 {
  position: absolute;
  width: 790px;
  height: 257px;
  top: 400px;
  left: 0;
}
.Vector5 {
  position: absolute;
  width: 800px;
  height: 455px;
  left: 564px;
  top: 0%;
  bottom: -0.08%;
}

.logo {
  padding: 20px;
}

.arbol {
  position: absolute;
  left: 78.61%;
  right: 7.86%;
  top: 71.35%;
  bottom: 2.48%;
}

.oso {
  position: absolute;
  right: 1000px;
  top: 260px;
  bottom: 2.48%;
}

.links {
  display: flex;
}

.links .link {
  position: relative;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
  top: -110px;
  left: 990px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #f2f2f2;
}
.links .link:hover {
  color: white;
  background-color: orange;
}
