
.user-img{
   margin-top:-40px; 
   margin-bottom:px;
}
.user-img img{
    width:100px;
    height: 100px;
    border-radius: 100px;
  
}
.modal-content{
    background: #f5f0f0;
    margin-top: 50px;
}