
<div class="modal-dialog text-center">
  <div class="col 12" >
    <div class="modal-content">
       <div class="col 12 user-img" >
         <img src="../../../assets/images/avatar.png" alt="" >
       </div>

       <form #signUpForm="ngForm" (ngSubmit)="signUp();" class="col 12">
     
        <h1>crear una cuenta</h1>
        <br>  
         <label for="firstName"> <h3>nombres</h3> </label>
         <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ingresa tu nombre" #firstName="ngModel" [(ngModel)]="user.firstName" required /> <br />
         
         
         <label for="lastName"> <h3>apellidos</h3> </label>
         <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingresa tu apellido" #lastName="ngModel" [(ngModel)]="user.lastName" required /> <br />
        

        
         <label for="email"> <h3>correo</h3> </label>
         <input type="text" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" #email="ngModel" [(ngModel)]="user.email" required  /> <br />
       
      
      
         <label for="password"> <h3>contraseña</h3></label>
         <input type="text" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" #password="ngModel" [(ngModel)]="user.password" required /> <br />
         
         <div class='form-group'>
         <div class="row">
          <div class="col-md-7">
         <button type='submit' class='btn btn-primary'>registro</button>
          </div>
          <button type='submit' class='btn btn-primary' routerLink='/login'>ingresar</button>
         
        
         </div>
        </div>

       </form>

    </div>
  </div>
</div>


