.nav, .nav-menu {
  display: flex;
  align-items: center;
}

.nav {
  padding: 5px 100px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu li a {
  color: #2f2f2f;
  opacity: .8;
}

.nav-menu li a:hover {
  color: #f58634;
  font-weight: bold;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown:hover > .dropdown-list {
  display: block;
}

.dropdown-list {
  position: absolute;
  display: none;
  list-style: none;
  left: 0;
  width: 140px;
  padding: 0;
  background: #f58634;
  padding: 5px 20px;
  border-radius: 3px;
}

.dropdown-list:hover {
  display: block;
}

.dropdown-list li {
  margin-left: 0;
}

.dropdown-list li a {
  cursor: pointer;
  color: #ffffff;
}

.dropdown-list li a:hover {
  color: #ffffff;
}

.nav-left {
  margin-left: auto;
}

.nav-dropdown {
  position: relative;
  color: #f58634;
}

.nav-dropdown::after {
  content: url('/assets/icons/chevron-down.svg');
  position: absolute;
  top: 2px;
  right: -23px;
}
