<nav class="nav">
  <a [routerLink]="['/home']" class="nav-brand">
    <img src="assets/images/logo2.png" width="70px" height="70px"/>
  </a>
  <ul class="nav-menu">
    <li><a [routerLink]="['/home']">Inicio</a></li>
    <li><a href="home#section1">Series</a></li>
    <li><a href="home#section1">Peliculas</a></li>
    <li><a href="home#section1">Documentales</a></li>
  </ul>

  <ul class="nav-menu nav-left nav-dropdown">
    <li><a [routerLink]="['/favorites']"><img src="/assets/icons/heart.svg" alt="Favorites"></a></li>
    <li class="dropdown">
      {{userName}}
      <ul class="dropdown-list">
        <li><a [routerLink]="['/profile']">Perfil</a></li>
        <li><a (click)="exit()">Cerrar Sesión</a></li>
      </ul>
    </li>
  </ul>
</nav>
