<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="imagenOso">
        <img src="assets/images/Group.png" alt="">
    </div>
    <div class="imagenPlanta">
        <img src="assets/images/arbol.png" alt="">
    </div>
       <div class="col-lg-4 mx-auto p-4">
           <div class="card">
               <div class="card-header">
                   <h3>Editar perfil</h3>
               </div>
               <div class="card-body">
                   <form (submit)="uploadPhoto(nombre)">
                     <div class="form-group">

                     <label for="firsname"><h3>Nombre</h3></label>
                     <input type="text" id="firName" class="firsName" class="form-control" placeholder="ingrese nombre" #nombre required>
                    </div>
                       <h3>Seleccione la imagen</h3>
                     <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                    <img [src]="photoSelected ||'assets/images/iconCamara.png'" class="img-fluit" alt="no image "
                    (click)="photoInput.click()" id="imagen">
                     <hr>
                    <button class="btn btn-primary btn-block">upload</button>

                   </form>
               </div>
           </div>
       </div>
  



    
    
</body>
</html>
























