<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<main>
  <div class="pelicula-principal">
    <div class="contenedor">
      <h3 class="titulo">toy story 4</h3>
      <p class="descripcion">
        Woody siempre ha confiado en su lugar en el mundo y en que su prioridad es cuidar a su hijo, ya sea Andy o
        Bonnie. Pero cuando Bonnie agrega un nuevo juguete reacio llamado "Forky" a su habitación, una aventura de viaje
        por carretera junto a viejos y nuevos amigos le mostrará a Woody lo grande que puede ser el mundo para un
        juguete.
      </p>
      <button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
      <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
    </div>
  </div>
  <!--carrousel peliculas-->
  <div class="contenedor">
    <h1>Peliculas recomendadas</h1>
    <div class="wrapper">
      <section id="section1">
  
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="pelicula" *ngFor="let movie of movies">
          <a href="#"><img [src]="'http://localhost:3000/api/videos/getImage/'+ movie.image_url" alt=""></a>
        </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/cd62hjmFxMhhRAgpyCcqLmBtEiG.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/6QSfz952HN7Ac3JmRwQW4Dehn4q.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/qlYxtqVfu2LOdvYMMDPCSGX0Oz0.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/tCUcf3oNWMW8kwAj3WC6CvIN5ah.jpg"/>
      </div>
        <div class="item">
        <img src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABbcCX42tsqGbBvO2y9CQv5-7QvYbCfoHtXsuc6NPCtZaKa4l4fBX3XWvUwG9F2A3CTsNpHVmulxBbdXKwK8Q6xGjejd9FoadGkZ7CnGrSl601TOQjzSHJ23NuIPC8j0QMGORL4uRIA.jpg"/>
      </div>
        <a href="#section2" class="arrow__btn">›</a>
      </section>
     
     
    </div>
  </div>

  <!--carrousel documentales-->
  <div class="contenedor">
    <h1>Documentales</h1>
    <div class="wrapper">
      <section id="section1">
        <div class="pelicula" *ngFor="let movie of documentaries">
          <a href="#"><img [src]="'http://localhost:3000/api/videos/getImage/'+ movie.image_url" alt=""></a>
        </div>
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/cd62hjmFxMhhRAgpyCcqLmBtEiG.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/6QSfz952HN7Ac3JmRwQW4Dehn4q.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/qlYxtqVfu2LOdvYMMDPCSGX0Oz0.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/tCUcf3oNWMW8kwAj3WC6CvIN5ah.jpg"/>
      </div>
        <div class="item">
        <img src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABbcCX42tsqGbBvO2y9CQv5-7QvYbCfoHtXsuc6NPCtZaKa4l4fBX3XWvUwG9F2A3CTsNpHVmulxBbdXKwK8Q6xGjejd9FoadGkZ7CnGrSl601TOQjzSHJ23NuIPC8j0QMGORL4uRIA.jpg"/>
      </div>
        <a href="#section2" class="arrow__btn">›</a>
      </section>
     
     
    </div>
  </div>
     
  <!--carrousel series-->
  <div class="contenedor">
    <h1>Series</h1>
    <div class="wrapper">
      <section id="section1">
        
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="pelicula" *ngFor="let movie of series">
          <a href="#"><img [src]="'http://localhost:3000/api/videos/getImage/'+ movie.image_url" alt=""></a>
        </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/cd62hjmFxMhhRAgpyCcqLmBtEiG.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/6QSfz952HN7Ac3JmRwQW4Dehn4q.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/qlYxtqVfu2LOdvYMMDPCSGX0Oz0.jpg"/>
      </div>
        <div class="item">
        <img src="https://image.tmdb.org/t/p/original/tCUcf3oNWMW8kwAj3WC6CvIN5ah.jpg"/>
      </div>
        <div class="item">
        <img src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABbcCX42tsqGbBvO2y9CQv5-7QvYbCfoHtXsuc6NPCtZaKa4l4fBX3XWvUwG9F2A3CTsNpHVmulxBbdXKwK8Q6xGjejd9FoadGkZ7CnGrSl601TOQjzSHJ23NuIPC8j0QMGORL4uRIA.jpg"/>
      </div>
        <a href="#section2" class="arrow__btn">›</a>
      </section>
     
     
    </div>
  </div>
   <!---->

   
     


</main>







</body>
</html>



