<app-nav-home></app-nav-home>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="estilos.css"> -->
</head>
<body>
 

    <div class="pelicula-principal">
      <div class="contenedor">
        <h3 class="titulo">Horton </h3>
        <p class="descripcion">
          Horton es un elefante leal y bonachón que vive, junto a otros animales, en la selva de Nool. Un día soleado, mientras se da un baño, de repente oye un ruidito que sale de una diminuta mota de polvo. Allí, descubre una minúscula ciudad llamada Villaquién, habitada por multitud de seres microscópicos y representada por un singular Alcalde
 </p>
        <button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
        <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
      </div>
    </div>

  <!-- <div class="contenedor"> -->
  <h1>Peliculas</h1>
  <div class="wrapper">
    <section id="section1">
      <a href="home#section3" class="arrow__btn">‹</a>
      <div class="item" *ngFor="let item of   movies ">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie/' + item.id]">ver pelicula</a>
        <img [src]="urlGetImage + item.image_url"/>
    </div>
   
      <a href="home#section2" class="arrow__btn">›</a>
    </section> 
    <section id="section2">
      <a href="home#section1" class="arrow__btn">‹</a>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p6.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p7.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p8.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p9.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p10.jpg"/>
    </div>
      <a href="home#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
      <a href="home#section2" class="arrow__btn">‹</a>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p10.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p7.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p11.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p12.jpg"/>
    </div>
      <div class="item">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie']">ver pelicula</a>
      <img src="../../../assets/images/carrusel/p12.jpg"/>
    </div>-->
      <a href="home#section1" class="arrow__btn">›</a>
    </section>
  </div>
    
<!-- documentales -->
<h1>Documentales</h1>
  <div class="wrapper">
    <section id="section4">
      <a href="home#section6" class="arrow__btn">‹</a>
      <div class="item" *ngFor="let item of   documentaries ">
        <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie/' + item.id]">ver pelicula</a>
        <img [src]="urlGetImage + item.image_url"/>
    </div>
      <a href="home#section5" class="arrow__btn">›</a>
    </section>
    <section id="section5">
      <a href="home#section4" class="arrow__btn">‹</a>
      <div class="item">
      <img src="../../../assets/images/carrusel/d6.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d7.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d8.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d9.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d1.png"/>
    </div>
      <a href="home#section6" class="arrow__btn">›</a>
    </section>
    <section id="section6">
      <a href="home#section5" class="arrow__btn">‹</a>
      <div class="item">
      <img src="../../../assets/images/carrusel/d10.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d7.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d11.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d12.jpg"/>
    </div>
      <div class="item">
      <img src="../../../assets/images/carrusel/d12.jpg"/>
    </div>
      <a href="home#section4" class="arrow__btn">›</a>
    </section>
  </div>
  <!-- Series -->
<h1>Series</h1>
<div class="wrapper">
  <section id="section7">
    <a href="home#section9" class="arrow__btn">‹</a>
    <div class="item" *ngFor="let item of   series ">
      <a style="color:rgba(250, 252, 253, 0)" [routerLink]="['/movie' + item.id]">ver pelicula</a>
      <img [src]="urlGetImage + item.image_url" />
  </div>

    <a href="home#section8" class="arrow__btn">›</a>
  </section>
  <section id="section8">
    <a href="home#section7" class="arrow__btn">‹</a>
    <div class="item">
    <img src="../../../assets/images/carrusel/s6.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s7.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s8.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s9.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s10.jpg"/>
  </div>
    <a href="home#section9" class="arrow__btn">›</a>
  </section>
  <section id="section9">
    <a href="home#section8" class="arrow__btn">‹</a>
    <div class="item">
    <img src="../../../assets/images/carrusel/s10.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s11.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s6.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s12.jpg"/>
  </div>
    <div class="item">
    <img src="../../../assets/images/carrusel/s12.jpg"/>
  </div>
    <a href="home#section7" class="arrow__btn">›</a>
  </section>
</div>
<!-- </div> --> 

</body>
</html>