<main>
  <section class="bg-images">
    <img
      src="/assets/bg/bg-top-right.svg"
      alt="bg-top-right"
      draggable="false"
      class="bg-element bg-element__top"
    />
    <img
      src="/assets/bg/bg-bottom-left.svg"
      alt="bg-bottom-left"
      draggable="false"
      class="bg-element bg-element__bottom"
    />

    <div class="contenedor1">
      <br />
      <h1>¿Quien se une a la aventura?</h1>
      <br />
    </div>

    <br />

    <div class="contenedor">
      <div class="asociados1">
        <img
          src="../../../assets/images/icons8-añadir-usuario-masculino-96.png"
          [routerLink]="['/new-user']"
          alt=""
        />

        <div><h3>Nuevo héroe</h3></div>
      </div>
      <div class="asociados3">
        <img
          src="../../../assets/images/icons8-madagascar-96.png
          "
          [routerLink]="['/new-user']"
          alt=""
        />

        <br />

        <h3>Yuliano Eliseo</h3>
      </div>

      <div class="asociados2">
        <section class="form-group">
          <section>
            <img
              id="imageUser"
              src="{{ url + '/users/showImage/' + user.image }}"
              width="107"
              height="107"
              [routerLink]="['/home']"
            />
            <p [routerLink]="['/new-user']">Editar</p>
          </section>
          <h3>{{ user.associates }}</h3>
        </section>
      </div>
    </div>
  </section>
</main>
