<body>

    <!-- <div class="modal-dialog text-center"> -->
      <div class="col 12">
        <!-- <div class="modal-content"> -->
          <a class="col 12 user-img" routerLink='/inicio'>
            <img  height="100px" width="100px" src="../../../assets/images/logo.jpg" alt="">
          </a>
       
           <a class="nav" routerLink='/inicio'>Inicio</a>
           <a class='nav1' routerLink='/registro'>Registro</a>
          <form class="asas" #loginForm="ngForm" (ngSubmit)="login()">
    
            <h1 class="titulo" >Ingresar</h1>
            <br>
    
            <!--correo-->
            <input class="inputs" type="email" id="email" name="email" placeholder="Ingrese su correo electrónico:"
              #email="ngModel" [(ngModel)]="user.email" />
            <br />
    
            <!--password-->
            <input class="input" type="password" name="password" placeholder="Ingrese su contraseña:" id="password" 
              #password="ngModel" [(ngModel)]="user.password"  />
            <br />
    
            
            <div class='form-group'>
              <div class="row">
                <div class="col-md-7">
                  <button type='submit' id="buttonLogin" class='botones'>Ingresar ></button>
                </div>
               
    
    
              </div>
            </div>
    
          </form>
          <button type='submit' class='botoness' routerLink='/inicio'>Cancelar</button>
          <div class="arbol">
            <img src="../../../assets/images/arbol.png" alt="">
          </div>
          
        </div>
      <!-- </div> -->
    <!-- </div> -->
    <div class="oso">
      <img src="../../../assets/images/Group.png" alt="">
    </div>
    </body>
