body{

width: 100%;
height: 800px;
/* left: -151px; */
top: 0px;

background-image:  url(../../../assets/images/fondo.jpeg);
background-size: cover;
}
.user-img{
   position: absolute;
   width: 73px;
   height: 23px;
   right: 780px;
   top: 5px;
   
   
 }
 

 .modal-content{
    background: #f5f0f0;
    margin-top: 8px;
}
 .asas{
    position: absolute;
width: 400px;
height: 400px;
/* left:  px; */
top: 254px;

background: #FEFEFE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }
 .input{
    position: absolute;
    width: 315px;
    height: 47px;
    left: 45px;
    top: 265px;
    
    background: #F2F2F2;
 }
 .inputs{
    position: absolute;
    width: 315px;
    height: 47px;
    left: 45px;
    top: 165px;
    
    background: #F2F2F2;
 }
 .titulo{
    position: absolute;
    width: 207px;
    height: 61px;
    left: 97px;
    top: 45px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    
    text-align: center;
    
    color: #979797;
 }
 .botones{
    position: absolute;
    width: 135px;
    height: 39px;
    left: 63px;
    top: 272px;
    
    background: #53BBDC;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color:#F2F2F2;
 }
 .botoness{
    position: absolute;
    width: 135px;
    height: 39px;
    left: 223px;
    top: 598px;
    
    background: #53BBDC;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color:#F2F2F2;
 }
 .nav{
    position: absolute;
    width: 73px;
    height: 23px;
    left: 640px;
    top: 5px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    
    color: #F2F2F2;
 }
 .nav1{
    position: absolute;
    width: 98px;
    height: 30px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #F2F2F2;
background: rgba(212, 110, 42, 0.877);
 }
 .arbol{
position: absolute;
left: 600px;
top: 500px;
bottom: 2.48%;

background: #3F3D56;
 }
 .oso{
    position: absolute;
    right:1000px ;
    top: 400px;
    bottom: 2.48%;
    
     }