<main>
  <section>
    <img
      src="/assets/bg/bg-top-right.svg"
      alt="bg-top-right"
      draggable="false"
      class="bg-element bg-element__top"
    />
    <img
      src="/assets/bg/bg-bottom-left.svg"
      alt="bg-bottom-left"
      draggable="false"
      class="bg-element bg-element__bottom"
    />
    <img
      src="/assets/bg/bottom-left.svg"
      alt="bottom-left"
      draggable="false"
      class="bg-element bg-element__bottom bg-child"
    />
    <img
      src="/assets/bg/tree.svg"
      alt="tree"
      draggable="false"
      class="bg-element __tree"
    />
    <img
      src="/assets/bg/bear.svg"
      alt="bear"
      draggable="false"
      class="bg-element __bear"
    />
  </section>
  <form
    class="form"
    #updateUserForm="ngForm"
    (ngSubmit)="updateUserAssociate()"
  >
    <section class="form-group">
      <h2>Agregar Asociado</h2>
    </section>

    <section class="form-group">
      <label for="name">Nombre</label>
      <input
        type="text"
        name="name"
        id="name"
        class="input"
        #associates="ngModel"
        [(ngModel)]="user.associates"
      />
    </section>
    <section>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        (change)="loadImage($event)"
      />
      ---{{ user.image }}<br />
      <img
        id="imageUser"
        src="{{ url + '/users/showImage/' + user.image }}"
        width="150"
        height="150"
      />
      <br />
    </section>
    <section class="form-group__buttons">
      <button class="btn-form">Actualizar</button>
      <button class="btn-form" [routerLink]="['/home']">
        ir a peliculas
      </button>
    </section>
  </form>
</main>
